<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon glyphicon-text-background"></span> Coders Anonymous
      </a>
    </div>

<ul class="nav navbar-nav navbar-left">


    	<% if (currentUser) { %>
	<li><a href="/memberBoard">Confession Board</a></li>
    <li><a href="/postEntries">Your Confessions</a></li>
    	<% } %>
</ul>

<ul class="nav navbar-nav navbar-right">
      <% if (currentUser) { %>
        <li><a href="#"><%= currentUser.local.email %></a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
<ul class="nav navbar-form navbar-right">
	<div>
          <form method="post" action="/login">
            <div class="form-group">
              <input class="form-control" type="text" name="email" id="email" placeholder="email">
            </div>

            <div class="form-group">
              <input class="form-control" type="password" name="password" id="password" placeholder="password">
            </div>

            <input class="btn btn-default" type="submit" value='Login'>
          </form>
      </div>

      <% } %>
    </ul>
  </div>
</nav>
<ul>
	<li id='firstTimeSignIn'>First time?<span><a href="/signup"> Sign Up!</a></span></li>
</ul>
