<!DOCTYPE html>
<html>
    <head>
		<% include partials/head %>
    </head>

    <body class="container-fluid">

		<header>
			<% include partials/header %>
		</header>

        <main>

			<h1><%= title %></h1>
        		<p>Welcome to <%= title %></p>


		<% if (!currentUser) { %>
    	<li><a>Welcome! Sign up to Start Sharing!</a></li>
    	<% } else { %>
			<li><a>Confessions Board</a></li>

		<% } %>




		</main>

        <footer>
			<% include partials/footer %>
		</footer>

	</body>
</html>

