<!DOCTYPE html>
<html>

<head>
	<% include partials/head %>
</head>

<body class="container-fluid">
	<header>
		<% include partials/header %>
	</header>

	<main>
		<h1><%= title %></h1>
		<% if (!currentUser) { %>
			<p>Welcome to CA!</p>
			<p><span><a href='/signup'>Sign up</a></span> or <span><a href='/login'>Login</a> to Start Sharing. </p>
		<% } else { %>
		<div class='board'>
			<h2>Join a group. Share your stories. Get Help.</h2>

		<% } %>
	</main>
		
	<footer>
		<% include partials/footer %>
	</footer>
</body>

</html>