<!DOCTYPE html>
<html>

<head>
	<% include partials/head %>
</head>

<body class="container-fluid">
	<header>
		<% include partials/header %>
	</header>
	<main>
		<h1><%= title %></h1>
		<% if (!currentUser) { %>
			<p><a href='/signup'>Welcome! Sign up to Start Sharing </a></p>
		<% } else { %>
			<h2>Latest Confessions:</h2>
		<% } %>
	</main>
	<footer>
		<% include partials/footer %>
	</footer>
</body>

</html>

