body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
	text-align: center;
}

p {
	text-align: center;
}

.navbar-default {
	background-color: #F8F8F8;
	border-color: #E7E7E7;
}


/* title */

.navbar-default .navbar-brand {
	color: #777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #5E5E5E;
}

#firstTimeSignIn {
	text-align: right;
	font-size: 10px;
	margin-right: 12px;
	list-style-type: none;
}

#loginFormContainer {
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
}

#signUpContainer {
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
}

#yourConfessions {
	text-align: center;
	margin-top: 50px;
}

#memberBoardMain {
	text-align: center;
}

#newPostForm {
	text-align: center;
	margin-top: 100px:
}

.btn-group .btn-info {
	text-align: center;
	margin: -25px 5px 15px 5px;
	border-radius: 5px;
}

#memberBoardPosts {}

#memberPosts {
	display: block;
	line-height: 25px;
	height: 80px;
	margin: 20px 150px -10px 150px;
	padding: 12px 5px 5px 5px;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	border: 1px solid #E7E7E7;
	color: #777;
	font-size: 18px;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #F8F8F8;
	text-align: center;
	border-radius: 5px;
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
	color: #777;
}

h1 {
	text-align: center;
}

.board {
	text-align: center;
}