<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>Your Confessions:</h3>
	<% if (postEntries.length > 0) { %>
      <% postEntries.forEach(function(postEntry) { %>
        <h4>
          <form method="POST" action="/postEntries/<%= postEntry._id %>?_method=DELETE">
            <a href="/postEntries/<%= postEntry._id %>">
            	<%= postEntry.title %>,
				<%= postEntry.text %>
			</a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }); %>
	<% } else { %>
		<h4> Go ahead, share something! Admitting it is the first step...</h4>
	<% } %>
<!--If there are no existing entries -> create one!-->
    </div>
    <a href="/postEntries/new" class="btn btn-primary">New</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
