<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body class="container-fluid">
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div>
			<h3>SHOW</h3>
			<p><b>Title: </b>
				<%= postEntry.title %>
			</p>
			<p><b>ID: </b>
				<%= postEntry._id %>
			</p>
			<p><b>Text: </b>
				<%= postEntry.text %>
			</p>
			<p><b>Created: </b>
				<%= postEntry.getCreatedAt() %>
			</p>

		</div>

		<a href="/postEntries" class="btn btn-primary">Back</a>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>